{% extends 'base.html' %}


{% block title %}
    About website
{% endblock %}

{% block content %}
    <div class="page-header page-header_110">
        <h1 class="page-header__title">Информация</h1>
    </div>
    {% block text %}
    <div class="info_page h-info h-info_about">
        <p>«Хабр» — крупнейший в&nbsp;Европе ресурс для IT-специалистов, издаваемый компанией <a href="https://tmtm.ru/" target="_blank" rel=" noopener">«ТМ»</a>. С момента появления в 2006-м году «Хабр» трансформировался из&nbsp;небольшого отраслевого сайта в&nbsp;глобальную профессиональную площадку, которую ежемесячно посещают более 8&nbsp;миллионов уникальных пользователей.</p>
    
        <p>«Хабр» одинаково интересен программистам и&nbsp;разработчикам, администраторам и&nbsp;тестировщикам, дизайнерам и&nbsp;верстальщикам, аналитикам и&nbsp;копирайтерам, а&nbsp;также всем тем, для кого IT&nbsp;— это не&nbsp;просто две буквы алфавита.</p>
         </div>
    </div>
    {% endblock %}
{% endblock %}