{% extends 'layout.html' %}

{% block auth %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Логин:</label>
        <input type="text" class="form-control" placeholder="Логин" id="username" name="username">
    </div>  
    <div class="form-group">
        <label for="pwd">Пароль:</label>
        <input type="password" class="form-control" placeholder="Пароль" id="pwd" name="password">
    </div>
    <button class="btn btn-primary">Войти</button>
</form>
{% endblock %}